{% if site.owner.google.ad-client and site.owner.google.ad-slot %}{% include ad-footer.html %}{% endif %}

<span>&copy; {{ site.time | date: '%Y' }} <a href="http://junjunguo.com" rel="nofollow">  {{ site.owner.name }}</a></span>
<div class="social-icons">
    {% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter"
                                  target="_blank">
    <i class="fa fa-twitter-square fa-2x"></i></a>{% endif %}
    {% if site.owner.facebook %}<a href="http://facebook.com/{{ site.owner.facebook }}"
                                   title="{{ site.owner.name}} on Facebook" target="_blank">
    <i class="fa fa-facebook-square fa-2x"></i></a>{% endif %}
    {% if site.owner.google.plus %}<a href="http://plus.google.com/+{{ site.owner.google.plus }}"
                                      title="{{ site.owner.name}} on Google+" target="_blank"><i
        class="fa fa-google-plus-square fa-2x"></i></a>{% endif %}
    {% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}"
                                   title="{{ site.owner.name}} on LinkedIn" target="_blank"><i
        class="fa fa-linkedin-square fa-2x"></i></a>{% endif %}
    {% if site.owner.stackexchange %}<a href="{{ site.owner.stackexchange }}" title="{{ site.owner.name}} on StackExchange"
                                        target="_blank"><i class="fa fa-stack-exchange fa-2x"></i></a>{% endif %}
    {% if site.owner.instagram %}<a href="http://instagram.com/{{ site.owner.instagram }}"
                                    title="{{ site.owner.name}} on Instagram" target="_blank"><i
        class="fa fa-instagram fa-2x"></i></a>{% endif %}
    {% if site.owner.flickr %}<a href="http://www.flickr.com/photos/{{ site.owner.flickr }}"
                                 title="{{ site.owner.name}} on Flickr" target="_blank"><i
        class="fa fa-flickr fa-2x"></i></a>{% endif %}
    {% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github"
                                 target="_blank"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
    {% if site.owner.tumblr %}<a href="http://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr"
                                 target="_blank"><i class="fa fa-tumblr-square fa-2x"></i></a>{% endif %}
    <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a>
</div><!-- /.social-icons -->